body, html {
  min-height: 100%;
}

body {
  overflow-x: hidden;

  &.hidden {
    overflow: hidden;

    @include mq(medium) {
      overflow: visible;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

// Site Wrap

.site-wrap {
  width: 100%;
  padding: 0 2em;
  margin: 0 auto;
  @include clearfix;

  @include mq(small) {
    width: 90%;
    padding: 0;
    max-width: 900px;
  }

  @include mq(medium) {
    max-width: 1000px;
  }

  @include mq(large) {
    max-width: 1040px;
  }
}

.site-wrap--wide {
  width: 100%;
  max-width: 1600px;
}


// List

.list {
  padding-left: 1em;
}

#page-wrap {
  position: relative;
  transition: transform $time $curve;
  transform: translate3d(0, 0, 0);
  @include z-index(page-wrap);

  .js-product-nav-open & {

    @include mq(medium) {
      transform: translate3d(0, 240px, 0);
    }

    @include mq(large) {
      transform: translate3d(0, 300px, 0);
    }
  }
}


// Images

.certification {
  width: 100px;

  @include mq(medium) {
    width: 150px;
    margin: 0 $gutter/3;
  }
}