body, html {
  height: 100%;
}

body {
  overflow-x: hidden;

  &.hidden {
    overflow: hidden;

    @include mq(medium) {
      overflow: visible;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

// Site Wrap

.site-wrap {
  width: 100%;
  padding: 0 2em;
  margin: 0 auto;
  @include clearfix;

  @include mq(small) {
    width: 90%;
    padding: 0;
    max-width: em(900px);
  }

  @include mq(medium) {
    max-width: em(1000px);
  }

  @include mq(large) {
    max-width: em(1140px);
  }
}

.site-wrap--wide {
  width: 100%;
  max-width: em(1600px);
}


// List

.list {
  padding-left: 1em;
}

#page-wrap {
  position: relative;
  @include z-index(page-wrap);
  @include transition(transform $time $curve);
  @include transform(translate3d(0, 0, 0));

  .js-product-nav-open & {

    @include mq(medium) {
      @include transform(translate3d(0, 240px, 0));
    }

    @include mq(large) {
      @include transform(translate3d(0, 300px, 0));
    }
  }
}