body, html {
  min-height: 100%;
}

body {
  overflow-x: hidden;

  &.hidden {
    overflow: hidden;

    @include mq(medium) {
      overflow: visible;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

// Site Wrap

.site-wrap {
  width: 100%;
  padding: 0 2em;
  margin: 0 auto;
  @include clearfix;

  @include mq(small) {
    width: 90%;
    padding: 0;
    max-width: 900px;
  }

  @include mq(medium) {
    max-width: 1000px;
  }

  @include mq(large) {
    max-width: 1200px;
  }
}

.site-wrap--wide {
  width: 100%;
  max-width: 1600px;
}

.site-wrap--narrow {
  max-width: 900px;
}


// List

.list {
  padding-left: 1em;
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

#page-wrap {
  padding-top: 76px;

  @include mq(medium) {
    padding-top: 92px;
  }
}


// Images

.certification {
  width: 100px;

  @include mq(medium) {
    width: 150px;
    margin: 0 $gutter/3;
  }
}