// Fixed nav

.fixed-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $fixed-nav-height;
  padding: 0 1.5em;
  background-color: $diverst-white;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
  @include z-index(fixed-nav);
  @include align-items(center);
  @include transform(translate3d(0, -100%, 0));
  @include transition(transform $time $curve, box-shadow $time $curve);

  &.visible {
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
    @include transform(none);
  }

  .nav__list {
    @include display(flex);
    @include align-items(center);
  }

  @include mq(large) {
    @include display(flex);
  }

  .nav__link {
    color: $diverst-grey;
    text-shadow: none !important;

    &--active {
      color: $diverst-black;
      border-color: $diverst-purple;
    }

    &:hover,
    &:focus {
      color: $diverst-black !important;

      .nav__dropdown {
        fill: $diverst-black !important;
      }
    }
  }

  .nav__dropdown {
    fill: $diverst-grey !important;
    @include filter(none !important);
  }

  .nav__logo {
    fill: $diverst-purple;
    width: 128px;
  }

  .nav__list {
    margin-left: auto;
  }

  .btn {
    margin-left: 2em;
  }
}


// Fixed product nav

.fixed-product-nav {
  display: none;
  position: fixed;
  top: $fixed-nav-height;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $diverst-white;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
  opacity: 0;
  visibility: hidden;
  @include z-index(fixed-product-nav);
  @include transform(translate3d(0, -100%, 0));
  @include transition(transform $time $curve, opacity $time $curve, visibility $time $curve);

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  .js-fixed-product-nav-open & {
    @include transform(none);
  }

  .nav__list {
    margin-left: 0;
  }

  .nav__link {
    color: $diverst-grey;
  }

  .nav__item {
    margin: 0 1.5em;
  }

  @include mq(medium) {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
  }
}