// Page header

.page-header {
  background-color: $diverst-purple;
  padding: 6em 0 4em;
  text-align: center;
  position: relative;

  @include mq(small) {
    padding: 7em 0 5.5em;
  }

  @include mq(medium) {
    padding: 9.5em 0 6.5em;
  }

  @include mq(large) {
    padding: 12em 0 10em;
  }

  .site-wrap > * {
    color: $diverst-white;
    opacity: 0;

    .ready & {
      @include animation(fade-in-up $time $curve both);

      @for $i from 0 through 4 {
        &:nth-child(#{$i}) {
          @include animation-delay($i * 0.1s);
        }
      }
    }
  }

  h1 {
    margin-bottom: 0.1em;
  }

  .site-wrap h2 {
    color: rgba($diverst-white, 0.6);
    font-weight: $font-weight-regular;
    margin-bottom: 0;
  }
}

.page-header__nav {
  display: none;

  .products & {
    display: block;
    position: absolute;
    top: 26%;
    color: $diverst-white;
    display: none;
    border-radius: $border-radius;
    @include transition(background-color $time $curve);

    .icon {
      margin: 0;
    }

    @include mq(medium) {
      display: block;
      padding: 15px;

      &:hover {
        background-color: rgba(#000, 0.1);
      }
    }

    @include mq(large) {
      top: 40%;
    }

    &--prev {
      left: 2em;
    }

    &--next {
      right: 2em;
    }
  }
}

.page-header__icon {
  fill: $diverst-white;
  margin-bottom: 0.5em;
  display: none;

  @include mq(small) {
    display: inline-block;
    @include size(32px);
  }

  @include mq(medium) {
    @include size(40px);
  }
}

.page-header__image {
  margin: 2em -1em -5em;
  width: 800px;

  @include mq(small) {
    margin-top: 3em;
    margin-bottom: -7em;
  }

  @include mq(medium) {
    margin-bottom: -9.5em;
  }

  @include mq(large) {
    margin-top: 4em;
    margin-bottom: -14em;
  }
}


// Header

.header {
  position: relative;
  padding: 8em 0 6em;
  color: $diverst-white;
  background-image: url('/images/header.jpg');
  background-size: cover;
  background-position: center center;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  * {
    position: relative;
    @include z-index(header-content);

    .ready & {
      @include animation(fade-in-up $time $curve both);

      @for $i from 0 through 4 {
        &:nth-child(#{$i}) {
          @include animation-delay($i * 0.1s);
        }
      }
    }
  }

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &:after {
    height: 100%;
    background-color: rgba(#000, 0.4);
  }

  &:before {
    display: none;
    height: 150px;
    @include linear-gradient(to top, rgba(#000, 0), rgba(#000, 0.5));

    @include mq(large) {
      display: block;
    }
  }

  @include mq(small) {
    padding: 9.5em 0 8em;
  }

  @include mq(medium) {
    padding: 13.5em 0 11em;
  }

  @include mq(large) {
    padding: 16.5em 0 13em;

    &:after {
      background-color: rgba(#000, 0.25);
    }
  }

  h1, h2, .btn {
    opacity: 0;
  }

  h1,
  h2 {
    text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  }

  h1 {
    color: $diverst-white;
    line-height: 1.1;
  }

  h2 {
    color: rgba($diverst-white, 0.7);
    margin-bottom: 1.25em;
    font-weight: $font-weight-regular;
  }

  .btn {
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
  }
}