// Nav

.nav {
  padding: 1.5em 0;
  position: relative; // Position nav above header
  z-index: 20;
  color: $diverst-white;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include clearfix;

  @include mq(small) {
    padding: 1.75em 0;
  }

  @include mq(medium) {
    padding: 2em 0;
  }

  @include mq(large) {
    padding: 2.5em 0;
  }

  .site-wrap {
    @include display(flex);
    @include align-items(center);
  }
}


// Nav logo

.nav__logo {
  float: left;
  width: 104px;
  fill: $diverst-white;
  @include transition(color $time $curve);

  .index .header & {
    @include filter(drop-shadow(0 1px 2px rgba(0,0,0,0.2)));
  }

  @include mq(small) {
    width: 112px;
  }

  @include mq(medium) {
    width: 120px;
  }

  @include mq(large) {
    width: 150px;
  }
}


// Mobile menu icon

.nav__hamburger {
  margin-left: auto;

  @include mq(medium) {
    display: none;
  }

  .icon {
    fill: $diverst-white;
    
    .index .header & {
      @include filter(drop-shadow(0 1px 2px rgba(0,0,0,0.2)));
    }
  }
}


// Nav list

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;

  @include mq(medium) {
    margin-left: auto;
    @include display(flex);
    @include align-items(center);
  }
}

.nav__item {
  float: left;
  margin-left: 1.5em;
}

.nav__link {
  position: relative;
  color: rgba($diverst-white, 0.8);

  .index & {
    text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  }

  &:hover,
  &:focus,
  .has-dropdown:hover & {
    color: $diverst-white;
  }

  &--active {
    color: $diverst-white;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba($diverst-white, 0.2);
  }
}

.nav__dropdown {
  fill: rgba($diverst-white, 0.8);
  cursor: pointer;
  margin-left: -3px; // Move icon closer to text
  @include transition(transform $time $curve);

  .index & {
    @include filter(drop-shadow(0 1px 2px rgba(0,0,0,0.2)));
  }

  .js-product-nav-open & {
    @include transform(rotate(180deg));
  }
}

.nav__btn {
  
  .index & {
    background-color: $diverst-purple;
    color: $diverst-white;
  }
}


// Mobile menu

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  max-width: 340px;
  height: 100%;
  overflow: scroll;
  padding: 2em 0 2.5em;
  margin: 0;
  background-color: $diverst-white;
  text-align: left;
  z-index: 9999;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0px 0px 0px 0px rgba(#000, 0.3);
  @include transform(translate3d(100%, 0, 0));
  @include transition(transform $time $curve, box-shadow $time $curve);

  @include mq(medium) {
    display: none;
  }

  h4 {
    margin-left: $gutter;
  }

  .btn {
    width: calc(100% - (#{$gutter} * 2));
    margin-left: $gutter;
  }

  .js-menu-open & {
    box-shadow: -2px 0px 4px 0px rgba(#000, 0.2);
    @include transform(none);
  }
}

.mobile-nav__close {
  position: absolute;
  top: 1.5em;
  right: 10%;

  .icon {
    fill: $diverst-grey;
  }
}

.mobile-nav__list {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
  width: 80%; // Limit width so link isn't pressed when trying to close menu
}

.mobile-nav__link {
  display: block;
  font-size: 18px;
  padding: 0.3em $gutter;
}