

// Page header

.page-header {
  background-color: $diverst-purple;
  padding: 4em 0;
  text-align: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include mq(small) {
    padding: 5em 0;
  }

  @include mq(medium) {
    padding: 6em 0;
  }

  @include mq(large) {
    padding: 8em 0;
  }

  .site-wrap > * {
    color: $diverst-white;
    opacity: 0;

    .ready & {
      animation: fade-in-up $time $curve both;

      @for $i from 0 through 4 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.1s;
        }
      }
    }
  }

  h1 {
    margin-bottom: 0.1em;
  }

  .site-wrap h2 {
    color: rgba($diverst-white, 0.6);
    font-weight: $font-weight-regular;
    margin-bottom: 0;
  }
}

.page-header__nav {
  position: absolute;
  top: 220px;
  overflow: hidden;
  color: $diverst-white;
  display: none;
  border-radius: $border-radius;
  transition: background-color $time $curve, max-width $time $curve;
  background-color: rgba(#000, 0.1);
  max-width: 72px;
  min-height: 72px;
  line-height: 72px;
  @include clearfix;

  &:hover {
    max-width: 280px;
    background-color: rgba(#000, 0.2);

    span {
      opacity: 1;
    }
  }

  @include mq(large) {
    display: block;
  }

  span {
    opacity: 0;
    transition: opacity $time $curve;
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }

  &--prev {
    left: 2em;

    span {
      padding: 0 24px 0 70px;
      float: left;
    }

    .icon {
      left: 16px;
    }
  }

  &--next {
    right: 2em;

    span {
      float: right;
      padding: 0 70px 0 24px;
    }

    .icon {
      right: 16px;
    }
  }
}

.page-header__icon {
  fill: $diverst-white;
  margin-bottom: 0.5em;
  display: none;

  @include mq(small) {
    display: inline-block;
    width: 32px;
    height: 32px;
  }

  @include mq(medium) {
    width: 40px;
    height: 40px;
  }
}

.page-header__image {
  margin: 2em -1.5em -5em;
  width: 800px;

  @include mq(small) {
    margin-top: 3em;
    margin-bottom: -6.5em;
  }

  @include mq(medium) {
    margin-bottom: -8em;
  }

  @include mq(large) {
    margin-top: 4em;
    margin-bottom: -10em;
  }
}