// Product nav

.product-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $diverst-white;
  display: none;
  -webkit-backface-visibility: hidden;
  padding: 0 $gutter/2;
  @include z-index(product-nav);
  transition: transform $time $curve, opacity $time $curve;

  @include mq(medium) {
    display: block;
  }

  @include mq(large) {
    padding: 0 $gutter;
  }

  > .site-wrap {
    @include mq(medium) {
      display: flex;
      align-items: center;
    }
  }

  p {
    line-height: 1.3;
  }
}

.product-nav__link {
  text-align: center;
  height: 240px;
  padding: 0 $gutter/2;
  opacity: 0;
  background-color: $diverst-white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, $gutter, 0);
  transition: transform $time $curve, opacity $time $curve;

  > * {
    transition: transform $time/2 $curve;
  }

  &:hover > * {
    transform: translate3d(0, -3px, 0);
  }

  .js-product-nav-open & {
    opacity: 1;
    transform: none;

    @for $i from 0 through 5 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.05s;
      }
    }
  }

  @include mq(large) {
    height: 300px;
  }
}

.product-nav__icon {
  fill: $diverst-purple;
}