// Product nav

.product-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $diverst-white;
  display: none;
  @include transform(translate3d(0, -100%, 0));
  @include transition(transform $time $curve);

  @include mq(medium) {
    @include display(flex);
    @include align-items(center);
  }

  .js-product-nav-open & {
    @include transform(none);
  }
}

.product-nav__link {
  text-align: center;
  height: 200px;
  padding: 0 $gutter/2;
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @include flex(1);

  @include mq(large) {
    height: 260px;
  }
}

.product-nav__icon {
  fill: $diverst-purple;
}