// Section

.section {
  background-color: $diverst-white;
  padding: 3em 0;

  @include mq(medium) {
    padding: 4em 0;
  }
}

.section--small {
  padding: 2.5em 0;
}

.section--accent {
  background-color: $diverst-purple;
  color: $diverst-white;

  * {
    color: $diverst-white;
  }

  .icon {
    fill: $diverst-white;
  }
}

.section--alt {
  background-color: $diverst-background;
}

.section--testimonial {
  position: relative;
  background-image: url('/images/team.jpg');
  background-size: cover;
  background-position: center center;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
  }

  * {
    position: relative;
    z-index: 1;
    color: $diverst-white;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  }

  h2 {
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
  }

  p {
    color: rgba($diverst-white, 0.6);
  }
}


// Title

.section__title {
  text-align: center;
  margin-bottom: 1em;
  position: relative;

  @include mq(medium) {
    margin-bottom: 1.5em;
  }
}


// Icon

.section__icon {
  margin-bottom: 1.5em;
  fill: $diverst-purple;
}

.sub-section__icon {
  margin-bottom: 0.75em;
  fill: $diverst-purple;
}


// Learn more

#learn-more {
  overflow: hidden;
  border-bottom: 1px solid $diverst-border;

  img {
    @include mq(medium) {
      margin-top: 0;
      margin-left: 4em;
      margin-bottom: -9.25em;
      max-width: 150%;
    }

    @include mq(large) {
      margin-top: -1em;
    }
  }
}