<header class="header">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12 grid__col--md-9 grid__col--lg-7">
        <h1>Diversity & inclusion platform</h1>
        <ul class="list">
          <li>360 ERG management & oversight</li>
          <li>Innovation inclusion & engagement tools</li>
          <li>Easy onboarding & monitoring</li>
          <li>Purposeful BI & analytics</li>
        </ul>
        <a href="#learn-more" class="btn btn--primary">Learn more</a>
      </div>
    </div>
  </div>
</header>
