<header class="header">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-lg-7">
        <h1>The next step in your diversity initiatives</h1>
        <h2>Diverst is a set of software tools that help you manage and track your diversity programs.</h2>
        <a href="#learn-more" class="btn btn--primary">Learn more</a>
      </div>
  </div>
</header>
