<header class="header">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-lg-7">
        <h1>Leveraging D&I through technology</h1>
        <h2>Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</h2>
        <a href="#learn-more" class="btn btn--primary">Learn more</a>
      </div>
  </div>
</header>
