<header class="header">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12 grid__col--md-9 grid__col--lg-7">
        <h1>Connecting D&I with ROI</h1>
        <p class="h2"><%= inline_svg("icons/checkmark.svg", class: "icon icon--medium icon--white") %>Objective-driven D&I</p>
        <p class="h2"><%= inline_svg("icons/checkmark.svg", class: "icon icon--medium icon--white") %>Unconscious bias detection</p>
        <p class="h2"><%= inline_svg("icons/checkmark.svg", class: "icon icon--medium icon--white") %>360° ERG management</p>
        <p class="h2"><%= inline_svg("icons/checkmark.svg", class: "icon icon--medium icon--white") %>Purposeful analytics</p>
        <a href="#products" class="btn btn--primary">Learn more</a>
      </div>
    </div>
  </div>
</header>
