<header class="header">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-lg-7">
        <h1>The next step in diversity engagement</h1>
        <div class="row">
          <h2 class="col-lg-10">Diverst is a set of software tools that help you manage, track and grow your diversity initiatives</h2>
        </div>
        <a href="#learn-more" class="btn btn--primary">Learn more</a>
      </div>
  </div>
</header>
