<header class="header">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12 grid__col--md-9 grid__col--lg-7">
        <h1>The next step in diversity engagement</h1>
        <div class="grid">
          <h2 class="grid__col--lg-10">Diverst is a set of software tools that help you manage, track and grow your diversity initiatives</h2>
        </div>
        <a href="#learn-more" class="btn btn--primary">Learn more</a>
      </div>
    </div>
  </div>
</header>
