<header class="header">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12 grid__col--md-9 grid__col--lg-7">
        <h1>Diversity & inclusion platform</h1>
        <p class="h2">• 360 ERG management & oversight</p>
        <p class="h2">• Innovation inclusion & engagement tools</p>
        <p class="h2">• Easy onboarding & monitoring</p>
        <p class="h2">• Purposeful BI & analytics</p>
        <a href="#products" class="btn btn--primary">Learn more</a>
      </div>
    </div>
  </div>
</header>
