<div class="page-header">
  <div class="site-wrap">
    <h1><%= current_page.data.title %></h1>
    <h2><%= current_page.data.subtitle %></h2>
    <%# if @some_condition_previusly_established_in_a_controller %>
     <img class="page-header__image" src="/images/<%= current_page.data.screenshot %>">
    <%# end %>
  </div>
</div>