<div class="page-header">
  <div class="site-wrap">
    <img class="icon page-header__icon" src="/images/icons/<%= current_page.data.icon %>.svg">
    <h1><%= current_page.data.title %></h1>
    <h2><%= current_page.data.subtitle %></h2>
     <img class="page-header__image" src="/images/<%= current_page.data.screenshot %>">
  </div>
</div>