<section class="section section--small text-center">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="section__title">Diversity has a meaning for us all, whether inherent or acquired</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Inherent<span class="spacer"></span>Acquired</h4>
        <div class="pill-list">
          <span class="pill">Gender</span>
          <span class="pill">Ethnicity</span>
          <span class="pill">LGBT</span>
          <span class="pill">Age</span>
          <span class="pill">Disabilities</span>
          <span class="pill">Veterans</span>
          <span class="pill">Parental Status</span>
          <span class="pill">Seniority</span>
          <span class="pill">Experience</span>
          <span class="pill">Education</span>
          <span class="pill">Expertise</span>
        </div>
      </div>
    </div>
  </div>
</section>