<section class="sign-up" id="sign-up">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Request a demo today</h2>
        <form id="sign-up-form" action="#" class="form--inline">
          <div class="field">
            <input class="field__input" type="text" placeholder="Name" required data-bind="value: name">
          </div>
          <div class="field">
            <input class="field__input" type="email" placeholder="Email" required data-bind="value: email">
          </div>
          <div class="field">
            <button class="btn btn--primary btn--full" data-bind="click: submitInfo">Request demo</button>
          </div>
        </form>
        <p class="form-hint"><%= inline_svg("icons/checkmark.svg", class: "icon") %>Thanks you for your interest, we'll be in touch soon</p>
      </div>
    </div>
  </div>
</section>