<section class="sign-up" id="sign-up">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Request a demo today</h2>
        <form id="sign-up-form" action="#" class="sign-up-form">
          <input class="field__input" type="text" placeholder="Name" required>
          <input class="field__input" type="email" placeholder="Email" required>
          <button class="btn btn--primary">Request a demo</button>
        </form>
        <p class="form-hint"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M16.8 6.9l-6.7 6.7-2.9-2.8-1.7 1.7 4.6 4.6 8.4-8.4z"/></svg>We'll be in touch soon</p>
      </div>
    </div>
  </div>
</section>