<section class="sign-up" id="sign-up">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Request a demo today</h2>
        <form id="sign-up-form" action="#" class="form--inline">
          <input class="field__input" type="text" placeholder="Name" required>
          <input class="field__input" type="email" placeholder="Email" required>
          <button class="btn btn--primary">Request a demo</button>
        </form>
        <p class="form-hint"><%= inline_svg("icons/checkmark.svg", class: "icon") %>We'll be in touch soon</p>
      </div>
    </div>
  </div>
</section>