<section class="sign-up" id="sign-up">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Request a demo today</h2>
        <form class="sign-up-form">
          <input class="field__input" type="text" placeholder="Name">
          <input class="field__input" type="email" placeholder="Email">
          <a href="#" class="btn btn--primary">Request a demo</a>
        </form>
      </div>
    </div>
  </div>
</section>