<% section class: 'section--accent text-center sign-up', id: 'sign-up' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--md-10 grid__col--md-offset-1 grid__col--lg-8 grid__col--lg-offset-2">
      <h2>Call 514-633-1234</h2>
      <p>Or email us at <a href="mailto:info@diverst.com">info@diverst.com</a></p>
      <button class="btn btn--secondary js-sign-up-modal">Request a demo</button>
    </div>
  </div>
<% end %>