// Calculator

.calculator__section {
  margin-top: 2em;

  @include mq(medium) {
    margin-top: 4em;
  }

  &--obfuscated {
    position: relative;
    opacity: 0.4;
    max-height: 580px;
    overflow: hidden;
    @include user-select(none);

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 240px;
      left: 0;
      bottom: 0;
      @include linear-gradient(to bottom, rgba($diverst-white, 0), rgba($diverst-white, 1));
    }
  }
}

.calculator__disclaimer {
  display: block;
  margin-top: 1.5em;
  color: $diverst-grey-light;
}