// Calculator

.calculator__section {
  margin-top: 2em;

  @include mq(medium) {
    margin-top: 4em;
  }

  &--obfuscated {
    @include filter(blur(10px));
  }
}

.calculator__disclaimer {
  display: block;
  margin-top: 1.5em;
  color: $diverst-grey-light;
}