// Feature

.feature {
  text-align: center;
  padding: 0 $gutter;
  margin-bottom: 2em;
  display: block;

  @include mq(small) {
    margin-bottom: 2.5em;
  }

  @include mq(medium) {
    padding: 0 40px;
    margin-bottom: 3em;
  }

  @include mq(large) {
    margin-bottom: 4em;
  }
}

.feature__icon {
  fill: $diverst-purple;
  margin-bottom: 0.25em;
}

.feature--inline {
  height: auto;
  text-align: left;
  padding: 0;
  @include display(flex);

  .feature__icon {
    @include flex-shrink(0);

    @include mq(medium) {
      @include size(36px);
    }
  }

  h3 {
    display: inline-block;
    margin-top: 0;
  }

  .feature__content {
    margin-left: 1em;

    @include mq(medium) {
      margin-left: 1.5em;
    }
  }
}

a.feature h3:after {
  content: "›";
  margin-left: 0.25em;
}