// Feature

.feature {
  margin-bottom: 2em;
  @include display(flex);

  @include mq(small) {
    margin-bottom: 2.5em;
  }

  @include mq(medium) {
    margin-bottom: 3em;
  }

  @include mq(large) {
    margin-bottom: 4em;
  }

  h3 {
    display: inline-block;
    margin-top: 0;
  }
}

.feature__content {
  margin-left: 1em;

  @include mq(medium) {
    margin-left: 1.5em;
  }
}

.feature__icon {
  fill: $diverst-purple;
  margin-bottom: 0.5em;
  @include flex-shrink(0);

  @include mq(medium) {
    margin-top: -8px;
    @include size(40px);
  }
}

.feature__link {
  color: $diverst-purple;
  display: block;
  margin-top: 0.5em;
}


.feature--stacked {
  padding: 0;

  @include mq(small) {
    padding: 0 $gutter/1.5;
  }

  @include mq(medium) {
    padding: 0;
  }

  @include mq(large) {
    padding: 0 $gutter;
  }

  .feature__content {
    margin-left: 0;
  }
}