// Form

form {
  margin: 0 -#{$gutter/4};
}

.form__section {
  margin-bottom: 1em;

  @include mq(medium) {
    margin-bottom: 1.5em;
  }
}

.form-hint {
  margin-top: 1.5em;
  display: none;

  .icon {
    fill: $diverst-purple;
    margin-right: 0.5em;
  }
}

.field {
  position: relative;
  float: left;
  width: 100%;
  text-align: left;
}

.field__label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 80%;
}

.field__error {
  display: inline-block;
  margin-top: 1em;
  color: $diverst-red;
  line-height: 1.4em;
  font-size: 0.8em;
}

.field__input {
  width: 100%;
  border-radius: $border-radius;
  padding: 0.85em;
  margin: 0;
  box-shadow: 0;
  outline: 0;
  color: $diverst-black;
  border: 1px solid $diverst-border;
  appearance: none;

  &:invalid {
    -moz-box-shadow: none; // Remove red border around input in Firefox
  }

  &--error {
    border: 1px solid $diverst-red;
    box-shadow: 0px 0px 0px 1px $diverst-red;
  }

  &:focus {
    border-color: $diverst-purple;
    box-shadow: 0px 0px 0px 1px $diverst-purple;
  }
}