// Icon mixin

@mixin icon($filename, $width: 24px, $height: 24px) {
  background-image: image-url('icons/#{$filename}.svg');
  background-size: $width $height;
}


// General

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.icon--large {
  width: 48px;
  height: 48px;
}