// Icon mixin

@mixin icon($filename, $width: 24px, $height: 24px) {
  background-image: image-url('icons/#{$filename}.svg');
  background-size: $width $height;
}


// General

.icon {
  display: inline-block;
  vertical-align: middle;
  @include size(24px);
}

.icon--large {
  @include size(48px);
}

.icon--medium {
  @include size(36px);
}