// Integration

.integrations {
  display: block;
  text-align: center;

  @include mq(medium) {
    text-align: left;

    h2 {
      margin-bottom: 0;
    }
  }
}

.integration {
  display: inline-block;
  text-align: center;
  margin: 0.5em;

  @include mq(medium) {
    margin: 0 0.5em;
  }
}

.integration__icon {
  margin: 1em;

  @include mq(medium) {

  }
}