// Integration

.integrations {
  display: block;

  h2 {
    margin-bottom: 0.75em;
  }
}

.integration {
  display: inline-block;
  text-align: center;
  margin: 1em;
}

.integration__icon {
  margin-bottom: 1em;
}