// Overlay

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(#000, 0.6);
  @include z-index(overlay);
  transition: visibility $time $curve, opacity $time $curve;

  @include mq(medium) {
    display: none;
  }

  .js-menu-open & {
    visibility: visible;
    opacity: 1;
  }
}