// Pill

.pill-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pill {
  background-color: $diverst-purple;
  color: $diverst-white;
  padding: 0.35em 0.85em;
  border-radius: 3px;
  font-size: 12px;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0.35em;
}