// Pill

.pill {
  display: inline-block;
  background-color: $diverst-purple;
  color: #fff;
  padding: 0.3em 0.6em;
  border-radius: 3px;
  font-size: 70%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0.15em;
}