// Pill

.pill-list {
  @include justify-content(center);
  @include display(flex);
  @include flex-wrap(wrap);
}

.pill {
  background-color: $diverst-purple;
  color: $diverst-white;
  padding: 0.3em 0.6em;
  border-radius: 3px;
  font-size: 10px;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0.35em;
}