// Range slider

.range-slider {
  position: relative;
  background-color: $diverst-grey-lightest;
  margin-top: 1em;
  border-radius: 3px;
}

.range-slider__line {
  height: 6px;
  width: 100%;
  background-color: $diverst-purple;
  border-radius: 3px;
}

.range-slider__handle {
  display: block;
  cursor: pointer;
  position: absolute;
  background-color: $diverst-white;
  top: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba($diverst-black, 0.1),0px 1px 2px 0px rgba($diverst-black, 0.15);
  @include transform(translate3d(0, -50%, 0));
}

.range-slider__output {
  font-size: 80%;
  margin-top: 0.5em;
  text-align: center;
}