// Fade In

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Fade In Left

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate3d($gutter/3, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


// Fade In Up

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, $gutter/3, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


// Fade In Down

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -$gutter/3, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}