// Fade In

@include keyframes (fade-in) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Fade In Left

@include keyframes (fade-in-left) {
  0% {
    opacity: 0;
    @include transform(translate3d($gutter/3, 0, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}


// Fade In Up

@include keyframes (fade-in-up) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, $gutter/3, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}


// Fade In Down

@include keyframes (fade-in-down) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, -$gutter/3, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}