// Utilities

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.hide-xs {
  display: none;

  @include mq(small) {
    display: block;
  }
}

.hide-sm {
  display: none;

  @include mq(medium) {
    display: block;
  }
}

.hide-md {
  display: none;

  @include mq(large) {
    display: block;
  }
}

.accent {
  color: $diverst-purple;
}

.muted {
  color: $diverst-grey-light;
}