---
layout: product
title: Collaborate
icon: collaborate
subtitle: Engagement and inclusion for your D&I process
screenshot: screenshot2.png
testimonial_image: collaborate.jpg
meta_title: Collaborate | Unify diverse groups around company issues
meta_description: Unleash your team’s innovation potential by breaking diversity silos and unifying diverse groups around specific problems and opportunities.
---

<section class="section">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
        <p class="large"><strong class="soft">Collaborate</strong> unites diversity silos by bringing ERGs/BRGs together to collaborate on a business objective. Whether your you want to identify a new product or solve a problem in a creative new way, Collaborate enables rich conversations and create inclusive environments centered around enterprise goals.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt" id="features">
  <div class="site-wrap">
    <div class="grid grid--equal-height features">
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Rich conversations</h3>
            <p>Create rich conversations that benefit from diverse perspectives and that create solution value through diversity.</p>
            <img class="feature__image" src="/images/screenshots/collaborate/chat.png">
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Value through collaboration</h3>
            <p>Environment for inherent and acquired diversity to iterate the best solution available from your talent pool.</p>
            <img class="feature__image" src="/images/screenshots/collaborate/qanda.png">
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Virtual meeting tools</h3>
            <p>Hold governance, management and collaboration campaign meetings using integrated white boarding, video conferencing and document management.</p>
            <img class="feature__image" src="/images/screenshots/collaborate/video.png">
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Admin dashboard</h3>
            <p>Manage your conversations, responses and outcomes from a single dashboard.</p>
            <img class="feature__image" src="/images/screenshots/collaborate/admin.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12">
        <h2 class="section__title">Other features</h2>
      </div>
    </div>
    <div class="grid grid--equal-height features">
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Easy campaign setup</h3>
            <p>Setup a new campaign and manage existing ones from a single dashboard.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Multiple campaigns</h3>
            <p>Run multiple campaigns concurrently for full workplace diversity.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Participant selection</h3>
            <p>Select participating ERGs/BRGs as well as segments (sub-groups) for full representation in each campaign.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Admin dashboard</h3>
            <p>Groups can be hand-selected or automatically made through our diversity optimizing algorithm.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Top-down approach</h3>
            <p>Assign topics and desired outcomes to diverse groups to have them generate new concepts and solve problems.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Employee-generated feedback</h3>
            <p>Users can upvote responses to elevate the best ideas and encourage greater user engagement.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Sorting and analyzing</h3>
            <p>Managers can use employee feedback to easily view the most outstanding contributions and feedbacks.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
        <h2>"Diversity and inclusion are easier to achieve when inclusive collaboration on corporate issues result in positive outcomes"</h2>
      </div>
    </div>
  </div>
</section>