---
layout: product
title: Discover
subtitle: Developing diversity talent at every level
screenshot: screenshot2.png
testimonial_image: team.jpg
tags: diverse community, culture of diversity, diversity and inclusion, diverse workforce, veterans, LGBT, disabled, gender, age, promoting diversity
---

<div class="page-header">
  <div class="site-wrap">
    <svg class="icon page-header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M21.4 18.6l-4.5-4.5c.7-1.2 1.1-2.6 1.1-4.1 0-2.1-.8-4.1-2.3-5.7C14.1 2.8 12.1 2 10 2s-4.1.8-5.7 2.3C2.8 5.9 2 7.9 2 10s.8 4.1 2.3 5.7C5.9 17.2 7.9 18 10 18c1.5 0 2.8-.4 4.1-1.1l4.5 4.5c.4.4.9.6 1.4.6.5 0 1-.2 1.4-.6.8-.8.8-2 0-2.8zM9.9 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm-3 8c0-1.8 1.2-3 3-3s3 1.2 3 3h-6z"/></svg>
    <h1><%= current_page.data.title %></h1>
    <h2><%= current_page.data.subtitle %></h2>
     <img class="page-header__image" src="/images/<%= current_page.data.screenshot %>">
  </div>
</div>

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Overview</h2>
        <p class="large">Discover is the ultimate mobile-first diversity engagement platform. Our algorithm matches users on a diversity score that can be set by weightings using simple sliders on multiple inherent and acquired diversity criteria. Discover enables conversation between two colleagues who otherwise may never have had the chance to connect and converse.</p>
        <p class="large">Discover allows user to connect and converse on topics relevant to them and/or important to the organization. Conversation window can limited to a set time (I.e. a week) so that there is incentive to connect before the opportunity expires.</p>
        <p><a href="#features" class="btn btn--primary">View features</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt" id="features">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Features</h2>
        <ul class="large list">
          <li>Match connections based on multiple inherent and acquired diversity criteria</li>
          <li>Gamification drives connections, conversations and pace of engagement</li>
          <li>Connect disparate colleagues to advance the issues and goals of the entire organization</li>
          <li>Initiate conversations between based on diverse backgrounds but similar professional interest</li>
          <li>Users can add connections to their contacts</li>
          <li>Onboard new hires with a community of diverse peers</li>
          <li>Integrate with Yammer and SharePoint</li>
        </ul>
        <p><a href="#sign-up" class="btn btn--primary">Request a demo</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>"Culture and diversity in the workplace starts with the right conversations. Practicing ‘diversity and inclusion’ creates a diverse workforce far better than merely declaring it so"</h2>
      </div>
    </div>
  </div>
</section>