---
layout: product
title: ERG Manager
subtitle: The engagement and inclusion tool for your D&I process
screenshot: screenshot2.png
testimonial_image: team.jpg
tags: diverse workforce, diversity in workplace, diversity inclusion, diversity in the workplace, diversity initiatives, diversity manager, managing workforce diversity, diversity problem solving, diversity and innovation, diversity integration
---

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Overview</h2>
        <p class="large">Scrum is a challenge campaign tool for workforce diversity that brings ERGs/BRGs together to collaborate on a business objective. Whether your goal is to identify a new product or service, or to solve a problem in a creative new way, Scrum unites diversity silos to create the richest conversations.</p>
        <p class="large">Whether you simply want to bring two ERGs together on an objective or include a multitude of diverse segments, our algorithm will make the desired connections between inherent diversity and acquired diversity profiles; hello, cultural diversity!  And all of it on demand. The real beauty of Scrum is that you can bring diverse people together on a common mission, thereby focusing on the “what” rather than the “who”; resulting in seamless diversity & inclusion that is directly tied to business results.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt" id="features">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Features</h2>
        <ul class="large list">
          <li>Set-up a new campaign and manage existing ones from a single dashboard</li>
          <li>Select participating ERGs/BRGs as well as segments (sub-groups) for full representation</li>
          <li>Groups can be hand-selected or matches can be made by algorithm</li>
          <li>Choose topic and desired outcome (generate new concepts or solve problems)</li>
          <li>Users can up-vote responses and our semantics engine can generate your top answers</li>
          <li>Run multiple campaigns concurrently for full workplace diversity</li>
          <li>Integrate with Yammer and SharePoint</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>"Diversity and inclusion are easier to achieve when inclusive collaboration on corporate issues result in positive outcomes"</h2>
      </div>
    </div>
  </div>
</section>