---
layout: product
title: Manage
icon: manage
subtitle: ERG management and reporting
screenshot: screenshot2.png
testimonial_image: discussion.jpg
tags: Employee Resource Groups, Employee Resource Group, Employee Resource Groups best practices, ERG management, LGBT Employee Resource Group, ERG employee resource group, veterans employee resource group
---

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <p class="large"><strong class="soft">Manage</strong> helps you organize and manage your Employee Resource Groups from a simple dashboard. Whether it’s hosting an online governance meeting, updating a user list, creating a new group/segment, pushing-out news or organizing events, Manage is there to assist you.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt" id="features">
  <div class="site-wrap">
    <div class="row row--equal-height features">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Easy onboarding</h3>
            <p>Onboard your employees quickly and easily</p>
            <img class="feature__image" src="/images/screenshots/manage/onboarding.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Resources</h3>
            <p>ERG playbook, CMS and document repository</p>
            <img class="feature__image" src="/images/screenshots/manage/resources.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>News and events</h3>
            <p>Manage your news and events from a single dashboard</p>
            <img class="feature__image" src="/images/screenshots/manage/news.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Custom reports</h3>
            <p>Measure engagement with on-demand custom reports</p>
            <img class="feature__image" src="/images/screenshots/manage/reports.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="section__title">Other features</h2>
      </div>
    </div>
    <div class="row row--equal-height features">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>User management</h3>
            <p>Import lists of users and segment them according to their membership(s).</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Role-based permissions</h3>
            <p>Provide individual resource group managers their own dashboards and metrics.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Configurable</h3>
            <p>Configure each resource group according to its unique characteristics.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Dedicated dashboards</h3>
            <p>Each ERG gets its own branding, events, messages and content through its own dashboard.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Virtual meetings</h3>
            <p>Hold governance meetings online through embedded video and whiteboard functionality.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>"Spend more time creating a culture of diversity and inclusion rather than administrating its activities"</h2>
      </div>
    </div>
  </div>
</section>