---
layout: product
title: Manage
icon: manage
subtitle: 360° governance and view of your D&I process
screenshot: screenshot2.png
testimonial_image: team.jpg
tags: Employee Resource Groups, Employee Resource Group, Employee Resource Groups best practices, ERG management, LGBT Employee Resource Group, ERG employee resource group, veterans employee resource group
---

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Overview</h2>
        <p class="large">Manage helps you organize and manage your ERGs/BRGs from a simple dashboard. Whether it’s hosting an online governance meeting, updating a user list, creating a new group/segment, pushing-out news or organizing events, Manage is there to assist you.</p>
        <p class="large">Besides its work-saving ERG management capabilities, Manage is also the connective tissue for the Diverst platform that drives user engagement, creates purposeful inclusion, identifies opportunistic diversity segments and matches mentors with mentees based on a multitude of diversity, skills and availability criteria.</p>
        <p><a href="#features" class="btn btn--primary">View features</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt" id="features">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Features</h2>
        <ul class="large list">
          <li>Set-up new Employee Resource Groups and  manage existing ones from a single dashboard</li>
          <li>Import lists of users and segment them according to their membership(s)</li>
          <li>Provide individual Employee Resource Group managers their own dashboards and metrics</li>
          <li>Manage groups, events, news, notifications and schedules from a single interface</li>
          <li>Configure each Business Resource Group according to its unique characteristics</li>
          <li>Hold governance meetings online thru embed video and white-boarding functionality</li>
          <li>Manage all governance, onboarding, playbook and communications assets in an embedded CMS</li>
          <li>Tap into deep ERG-centric and global D&I metrics on demand</li>
          <li>Integrate with Yammer and SharePoint</li>
        </ul>
        <p><a href="#sign-up" class="btn btn--primary">Request a demo</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>"Spend more time creating a culture of diversity and inclusion rather than administrating its activities"</h2>
      </div>
    </div>
  </div>
</section>