---
layout: product
title: MarketScope
subtitle: Your diversity segmentation analysis ally
screenshot: screenshot2.png
testimonial_image: team.jpg
tags: diverse workplace, managing a diverse workforce, employee diversity, diverse employees, segmentation marketing, cultural marketing, cultural segmentation, and cultural insights
---

<div class="page-header">
  <div class="site-wrap">
    <svg class="icon page-header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M4 22c0-.7.1-1.4.4-2h-1C1.5 20 0 21.2 0 23v1h4v-2zM7.6 16.5c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5c0 1.3 1 2.3 2.2 2.5.7-1.1 1.6-2 2.8-2.5zM19.1 14c-1.4 0-2.5 1.1-2.5 2.5v.1c1.1.5 2 1.4 2.6 2.4 1.3 0 2.4-1.1 2.4-2.5S20.5 14 19.1 14zM20.7 20h-1c.2.6.4 1.3.4 2v2h4v-1c-.1-1.8-1.6-3-3.4-3zM6 24h12v-2c0-1.9-1.3-3.5-3.1-3.9-.9.6-1.8.9-2.9.9s-2-.3-2.9-.9c-1.8.4-3.1 2-3.1 3.9v2z"/><circle cx="12" cy="14" r="3"/><path d="M17 0H7C5.9 0 5 .9 5 2v11l3-3h9c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm-1 8H8V6h8v2zm0-4H8V2h8v2z"/></svg>
    <h1><%= current_page.data.title %></h1>
    <h2><%= current_page.data.subtitle %></h2>
     <img class="page-header__image" src="/images/<%= current_page.data.screenshot %>">
  </div>
</div>

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Overview</h2>
        <p class="large">MarketScope enables you to tap into the diverse cultures and mindsets that drive behavior; whether for employee-centric or consumer-driven purposes. Knowing what words to use, which stereotypes to avoid and what your target group responds best to - all elements critical to getting it right the first time. Your workplace diversity is a ready and reliable data source for that information.</p>
        <p class="large">MarketScope lets you survey your employee diversity base for both quantitative and qualitative data, giving you an instant snapshot of a diverse market segment and a fresh diversity benchmark each time out  –  one which traditionally took much longer, yielded aging data and cost a small fortune.</p>
        <p><a href="#features" class="btn btn--primary">View features</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt" id="features">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Features</h2>
        <ul class="large list">
          <li>Set-up a new MarketScope segmentation survey in minutes</li>
          <li>Create hybrid combinations (i.e. female, veteran, LGBT, under 40) for precise targeting</li>
          <li>Establish segmented diversity communities for focus group</li>
          <li>Set-up survey forms with any combination of yes/no, A/B, multiple-choice and textual answers</li>
          <li>Tap into on-demand reporting, deep ERG-centric use stats and global D&I metrics on demand</li>
          <li>Export results into other reporting tools via CSV transfer</li>
          <li>Integrate with Yammer and SharePoint</li>
        </ul>
        <p><a href="#sign-up" class="btn btn--primary">Request a demo</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>"On demand segmentation marketing and cultural insights provide actionable cultural marketing data and segment information"</h2>
      </div>
    </div>
  </div>
</section>