---
layout: product
title: Meet
icon: meet
subtitle: Developing diversity talent at every level
screenshot: screenshot2.png
testimonial_image: team.jpg
tags: diverse community, culture of diversity, diversity and inclusion, diverse workforce, veterans, LGBT, disabled, gender, age, promoting diversity
---

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Overview</h2>
        <p class="large">Meet is the ultimate mobile-first diversity engagement platform. Our algorithm matches users on a diversity score that can be set by weightings using simple sliders on multiple inherent and acquired diversity criteria. Meet enables conversation between two colleagues who otherwise may never have had the chance to connect and converse.</p>
        <p class="large">Meet allows user to connect and converse on topics relevant to them and/or important to the organization. Conversation window can limited to a set time (i.e. a week) so that there is incentive to connect before the opportunity expires.</p>
        <p><a href="#features" class="btn btn--primary">View features</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt" id="features">
  <div class="site-wrap">
    <div class="row row--equal-height features">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Matching algorithm</h3>
            <p>Match connections based on multiple inherent and acquired diversity criteria</p>
            <img class="feature__image" src="/images/screenshots/meet/algorithm.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Meaningful conversations</h3>
            <p>Initiate conversations between based on diverse backgrounds but similar professional interests</p>
            <img class="feature__image" src="/images/screenshots/meet/conversation.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Unified dashboard</h3>
            <p>Manage mentoring from a single dashboard</p>
            <img class="feature__image" src="/images/screenshots/meet/swipe.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Solve problems</h3>
            <p>Suggest conversation topics and collect feedback on them</p>
            <img class="feature__image" src="/images/screenshots/meet/topics.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Features</h2>
        <ul class="large list">
          <li>Match connections based on multiple inherent and acquired diversity criteria</li>
          <li>Gamification drives connections, conversations and pace of engagement</li>
          <li>Connect disparate colleagues to advance the issues and goals of the entire organization</li>
          <li>Initiate conversations between based on diverse backgrounds but similar professional interest</li>
          <li>Users can add connections to their contacts</li>
          <li>Onboard new hires with a community of diverse peers</li>
          <li>Integrate with Yammer and SharePoint</li>
        </ul>
        <p><a href="#sign-up" class="btn btn--primary">Request a demo</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>"Culture and diversity in the workplace starts with the right conversations. Practicing ‘diversity and inclusion’ creates a diverse workforce far better than merely declaring it so"</h2>
      </div>
    </div>
  </div>
</section>