---
layout: product
title: Meet
icon: meet
subtitle: Diversity through introductions
screenshot: screenshot2.png
testimonial_image: team.jpg
meta_title: Meet | Connect diverse employees together
meta_description: Meet is a software suite that helps you create connections within your company based on multiple inherent and acquired diversity criteria.
---

<section class="section">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
        <p class="large"><strong class="soft">Meet</strong> is the ultimate mobile-first diversity engagement platform. Our algorithm matches users on a diversity score that can be set by weightings using simple sliders on multiple inherent and acquired diversity criteria. Meet enables conversation between two colleagues who otherwise may never have had the chance to connect and converse.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt" id="features">
  <div class="site-wrap">
    <div class="grid grid--equal-height features">
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Matching algorithm</h3>
            <p>Match connections based on multiple inherent and acquired diversity criteria.</p>
            <img class="feature__image" src="/images/screenshots/meet/algorithm.png">
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Meaningful conversations</h3>
            <p>Initiate conversations between based on diverse backgrounds but similar professional interests.</p>
            <img class="feature__image" src="/images/screenshots/meet/conversation.png">
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Meet your peers</h3>
            <p>Connect with people who share the same interests and passions but are from a different background.</p>
            <img class="feature__image" src="/images/screenshots/meet/swipe.png">
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Solve problems</h3>
            <p>Suggest conversation topics and collect feedback on them.</p>
            <img class="feature__image" src="/images/screenshots/meet/topics.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12">
        <h2 class="section__title">Other features</h2>
      </div>
    </div>
    <div class="grid grid--equal-height features">
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Smart matching</h3>
            <p>Make connections based on multiple inherent and acquired diversity criteria.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Gamification</h3>
            <p>Game mechanics drive connections, conversations and engagement.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Unify your workforce</h3>
            <p>Connect disparate colleagues to advance the issues and goals of the entire organization.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Break the ice</h3>
            <p>Initiate conversations between users based on diverse backgrounds but similar professional interest.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Build your social network</h3>
            <p>Users can add contacts they relate with on professional or personal levels to grow their network.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>More inclusive onboarding</h3>
            <p>Onboard new hires with a community of diverse peers.</p>
          </div>
        </div>
      </div>
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Native iOS &amp; Android</h3>
            <p>Mobile-first app engagement platform built natively for both iOS and Android.</p>
          </div>
        </div>
      </div>
       <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Effortless swiping</h3>
            <p>Users can flip through different matches and find a perfect fit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
        <h2>"Culture and diversity in the workplace starts with the right conversations. Practicing ‘diversity and inclusion’ creates a diverse workforce far better than merely declaring it so"</h2>
      </div>
    </div>
  </div>
</section>