---
layout: product
title: Mentoring
subtitle: Developing diversity talent at every level
screenshot: screenshot2.png
testimonial_image: team.jpg
tags: diversity learning, inclusion and diversity in the workplace, diversity recruiting, diversity hiring, diversity recruitment, hiring diversity, hiring for diversity, diversity in hiring, hiring diversity in the workplace, diverse recruiting
---

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Overview</h2>
        <p class="large">Mentoring enables you to create diversity mentorship opportunities across your employee pool and leadership hierarchy. Along with configurable criteria, our algorithm can match mentees and mentors with the optimal fit for their current stage, career ambitions, skill-set and availabilities. An elegant blend of diversity recruiting and diversity learning.</p>
        <p class="large">Mentoring allows you to schedule meetings in person or online; via an intuitive video, chat and white-boarding interface. Moreover, mentors can set mentee goals, track OKRs and recommend mentees for specific career opportunities; while mentees can provide feedback of their experience by rating their mentors.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Features</h2>
        <ul class="large list">
          <li>Specifically match mentee demand with mentor supply</li>
          <li>Connect users instantly through embedded scheduling</li>
          <li>Select between traditional, reverse or exchange mentoring</li>
          <li>Promote inclusion thru mentorship opportunities</li>
          <li>Diversity learning to all diverse groups and levels of the organization</li>
          <li>Set OKRs that can be tracked and scored</li>
          <li>Gamification allows to identify top-performers and reward them with the best opportunities</li>
          <li>Provide referrals for internal job opportunities</li>
          <li>Integrate with Yammer and SharePoint</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>"The ‘next step’ in diversity and inclusion after diversity recruiting"</h2>
      </div>
    </div>
  </div>
</section>