---
layout: product
title: Mentor
icon: mentor
subtitle: Diversity talent development at every level
screenshot: screenshot2.png
testimonial_image: team.jpg
tags: diversity learning, inclusion and diversity in the workplace, diversity recruiting, diversity hiring, diversity recruitment, hiring diversity, hiring for diversity, diversity in hiring, hiring diversity in the workplace, diverse recruiting
---

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <p class="large"><strong class="soft">Mentor</strong> enables you to create diversity mentorship opportunities across both your employee pool and leadership hierarchy. With configurable criteria, our algorithm can match mentees and mentors with the optimal fit for their current career stage, ambitions, skill-set and availabilities. An elegant blend of diversity recruiting and diversity learning.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt" id="features">
  <div class="site-wrap">
    <div class="row row--equal-height features">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Align mentees with mentors across hierarchy</h3>
            <p>Whether it’s reverse mentoring, mentorship exchange or traditional mentoring, you can match mentors with mentees for a perfect fit.</p>
            <img class="feature__image" src="/images/screenshots/mentor/invite.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Meetings, objectives and target OKRs</h3>
            <p>Schedule meetings, set objectives and target OKRs. With our easy scheduling and progress tracking, connecting the right need with the right resource at the right time has never been easier.</p>
            <img class="feature__image" src="/images/screenshots/mentor/schedule.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Unified dashboard</h3>
            <p>Manage individual mentoring activities, posts and OKRs from a single dashboard.</p>
            <img class="feature__image" src="/images/screenshots/mentor/dashboard.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Custom reports</h3>
            <p>Track progress and report on connections, sessions, OKRs, references and much more.</p>
            <img class="feature__image" src="/images/screenshots/mentor/report.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="section__title">Other features</h2>
      </div>
    </div>
    <div class="row row--equal-height features">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Frictionless interaction</h3>
            <p>Connect users instantly through embedded scheduling, whiteboarding and video conferencing.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Configurable mentorship type</h3>
            <p>Select between traditional, reverse or exchange mentorship.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Multiple mentorship styles</h3>
            <p>Users can choose between individual or group mentorships.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>True inclusion</h3>
            <p>Attract and retain top talent by promoting inclusion through mentorship opportunities.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Diversity-centric education</h3>
            <p>Provide diversity-based learning and career opportunities to all groups and levels of the organization.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Content sharing</h3>
            <p>In addition to mentoring activities, mentors can reach larger audiences by publishing content to followers.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Career advancement</h3>
            <p>Mentee career advancement through mentor referrals for internal job openings.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>"The ‘next step’ in diversity and inclusion after diversity recruiting"</h2>
      </div>
    </div>
  </div>
</section>