---
layout: product
title: Scope
icon: scope
subtitle: Your diversity segmentation analysis ally
screenshot: header.png
testimonial_image: team.jpg
tags: diverse workplace, managing a diverse workforce, employee diversity, diverse employees, segmentation marketing, cultural marketing, cultural segmentation, and cultural insights
---

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <p class="large">Scope enables you to tap into the diverse cultures and mindsets that drive behavior; whether for employee-centric or consumer-driven purposes. Knowing what words to use, which stereotypes to avoid and what your target group responds best to - all elements critical to getting it right the first time. Your workplace diversity is a ready and reliable data source for that information.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt" id="features">
  <div class="site-wrap">
    <div class="row row--equal-height features">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Customized surveys</h3>
            <p>Target ERGs/BRGs and segments with customized surveys</p>
            <img class="feature__image" src="/images/screenshots/scope/survey.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Market validation</h3>
            <p>Get market validation on demand</p>
            <img class="feature__image" src="/images/screenshots/scope/market-validation.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Individual responses</h3>
            <p>View individual responses</p>
            <img class="feature__image" src="/images/screenshots/scope/responses.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="feature feature--stacked">
          <div class="feature__content">
            <h3>Custom reports</h3>
            <p>Measure qualitative and quantitative data with on-demand custom reports</p>
            <img class="feature__image" src="/images/screenshots/scope/reports.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Features</h2>
        <ul class="large list">
          <li>Set-up a new Scope segmentation survey in minutes</li>
          <li>Create hybrid combinations (i.e. female, veteran, LGBT, under 40) for precise targeting</li>
          <li>Establish segmented diversity communities for focus group</li>
          <li>Set-up survey forms with any combination of yes/no, A/B, multiple-choice and textual answers</li>
          <li>Tap into on-demand reporting, deep ERG-centric use stats and global D&I metrics on demand</li>
          <li>Export results into other reporting tools via CSV transfer</li>
          <li>Integrate with Yammer and SharePoint</li>
        </ul>
        <p><a href="#sign-up" class="btn btn--primary">Request a demo</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>"On demand segmentation marketing and cultural insights provide actionable cultural marketing data and segment information"</h2>
      </div>
    </div>
  </div>
</section>