---
layout: product
title: Scope
icon: scope
subtitle: Diversity segmentation and analysis
screenshot: header.png
testimonial_image: women.jpg
meta_title: Scope | Create internal surveys accross resource groups
meta_description: Scope is an in-house market research tool that helps you survey your diverse employees to conduct segmented analysis and tap into the brain trust of your workforce.
---

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
      <p class="large"><strong class="soft">Scope</strong> enables you to tap into the diverse cultures and mindsets that drive behavior; whether for employee-centric or consumer-driven purposes. Knowing what words to use, which stereotypes to avoid and what your target group responds best to - all elements critical to getting it right the first time. Your workplace diversity is a ready and reliable data source for that information.</p>
    </div>
  </div>
<% end %>

<% section class: 'section--alt', id: 'features' do %>
  <div class="grid grid--equal-height features">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Customized surveys</h3>
          <p>Get timely and relevant diversity segment information directly from members of your workforce ERGs with customized surveys.</p>
          <img class="feature__image" src="/images/screenshots/scope/survey.png">
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Market validation</h3>
          <p>Nothing tells the story better than verifiable data. Survey responses help validate your marketing intuitions and provide the confidence to go forward.</p>
          <img class="feature__image" src="/images/screenshots/scope/market-validation.png">
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Custom reports</h3>
          <p>Create custom reports and real-time graphs using data aggregation and analysis. Get immediately usable data for actionable decision-making.</p>
          <img class="feature__image" src="/images/screenshots/scope/reports.png">
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Individual responses</h3>
          <p>Viewing your respondents' individual qualitative responses gives you precise information regarding cultural conventions and norms.</p>
          <img class="feature__image" src="/images/screenshots/scope/responses.png">
        </div>
      </div>
    </div>
  </div>
<% end %>

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12">
      <h2 class="section__title">Other features</h2>
    </div>
  </div>
  <div class="grid grid--equal-height features">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Easy setup</h3>
          <p>Setup a new Scope segmentation survey in minutes.</p>
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Survey fields</h3>
          <p>Setup surveys with any combination of fields (single-choice, multiple-choice, numeric, textual and more).</p>
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Intra-ERG segmentation</h3>
          <p>Establish segmented diversity communities and create focus groups to target with surveys.</p>
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Exportable data</h3>
          <p>Export results into other reporting and workforce analysis tools via CSV exporting and REST API.</p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
        <h2>"On demand segmentation marketing and cultural insights provide actionable cultural marketing data and segment information"</h2>
      </div>
    </div>
  </div>
</section>