// Media Queries

$small: 500px;
$medium: 850px;
$large: 1140px;


// Measurements

$gutter: 40px;
$border-radius: 4px;
$nav-height: 90px;


// Type

$font-weight-regular: 400;
$font-weight-bold: 500;
$font-family: 'Roboto', sans-serif;


// Colors

$diverst-black: #2B333E;
$diverst-grey: #68727A;
$diverst-grey-light: #8A93A1;
$diverst-purple: #7B77C9;
$diverst-grey-lightest: #C5C9D0;

$diverst-border: #E1E2E3;
$diverst-white: #fff;

$diverst-background: #EBECED;


// Animations

$time: 0.35s;
$curve: cubic-bezier(0.4, 0, 0.2, 1);