---
title: "ROI Calculator"
subtitle: "Features subheadline goes here"
---

<section class="section calculator">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <form id="calculator-form" action="#" class="form--inline">
          <input class="field__input" type="text" placeholder="Name" required>
          <input class="field__input" type="text" placeholder="Company" required>
          <input class="field__input" type="email" placeholder="Email" required>
          <input class="field__input" type="tel" placeholder="Phone number" required>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 calculator__section">
        <h2>Cost savings</h2>
        <form action="#">
          <h3>Employee retention</h3>
          <div class="field">
            <label class="field__label">Number of Boomers</label>
            <input class="field__input" type="number" placeholder="" required>
          </div>
          <div class="field">
            <label class="field__label">Number of Gen Y</label>
            <input class="field__input" type="number" placeholder="" required>
          </div>
          <div class="field">
            <label class="field__label">Number of Millennials</label>
            <input class="field__input" type="number" placeholder="" required>
          </div>
        </form>
        <h3>Reduction in absenteeism</h3>
        <div class="field">
          <label class="field__label">Level of employee inclusion sentiment</label>
          <input type="range" min="1" max="100" step="1" value="1">
        </div>
      </div>
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 calculator__section">
        <h2>Increased Profitability</h2>
        <div class="form">
          <h3>Return on assets</h3>
          <div class="field">
            <label class="field__label">Total assets (USD$)</label>
            <input class="field__input" type="number" placeholder="" required>
          </div>
          <div class="field">
            <label class="field__label">Female representation on the board</label>
            <input type="range" min="1" max="100" step="1" value="1">
          </div>
        </div>
        <div class="form">
          <h3>Revenue increase</h3>
          <div class="field">
            <label class="field__label">Total revenue (USD$)</label>
            <input class="field__input" type="number" placeholder="" required>
          </div>
          <div class="field">
            <label class="field__label">Equal employment opportunities</label>
            <input type="range" min="1" max="100" step="1" value="1">
          </div>
        </div>
        <div class="form">
          <h3>Stock price appreciation</h3>
          <div class="field">
            <label class="field__label">Annual EPS (USD$)</label>
            <input class="field__input" type="number" placeholder="" required>
          </div>
          <div class="field">
            <label class="field__label">Employment diversity</label>
            <input type="range" min="1" max="100" step="1" value="1">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>