---
title: "ROI Calculator"
subtitle: "Features subheadline goes here"
---

<section class="section calculator">
  <div class="site-wrap">

    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</h2>
        <h3>Contact info</h3>
        <form id="calculator-form" action="#">
          <div class="form__section">
            <div class="field field--third">
              <label class="field__label">Name</label>
              <input class="field__input" type="text" placeholder="John Doe" required>
            </div>
            <div class="field field--third">
              <label class="field__label">Email</label>
              <input class="field__input" type="email" placeholder="john@example.com" required>
            </div>
            <div class="field field--third">
              <label class="field__label">Phone</label>
              <input class="field__input" type="tel" placeholder="123-456-7890" required>
            </div>
          </div>
          <div class="form__section">
            <div class="field">
              <h3>Organization info</h3>
            </div>
            <div class="field field--quarter">
              <label class="field__label">No of employees</label>
              <input class="field__input" type="number" placeholder="100" required>
            </div>
            <div class="field field--quarter">
              <label class="field__label">Average salary</label>
              <input class="field__input" type="number" placeholder="$50,000" required>
            </div>
            <div class="field field--quarter">
              <label class="field__label">Turnover rate</label>
              <input class="field__input" type="number" placeholder="20%" required>
            </div>
            <div class="field field--quarter">
              <label class="field__label">Size of D&I team</label>
              <input class="field__input" type="number" placeholder="10" required>
            </div>
          </div>
          <div class="field">
            <button class="btn btn--primary btn--full">Calculate ROI</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 calculator__section">
        <h2>Cost savings</h2>
        <div class="savings">
          <div class="row">
            <div class="col-xs-12 col-sm-6 savings__section savings__section--sum">
              <h4>Absenteeism</h4>
              <h1>$682,292</h1>
            </div>
            <div class="col-xs-12 col-sm-6 savings__section">
              <div class="savings__row">
                <strong>$50,000</strong> average salary
              </div>
              <div class="savings__row">
                <span class="savings__symbol">×</span><strong>131%</strong> benefits cost
              </div>
              <div class="savings__row">
                <span class="savings__symbol">÷</span><strong>240</strong> work days
              </div>
              <div class="savings__row">
                <span class="savings__symbol">×</span><strong>1.5 days</strong> of reduction in absenteeism
              </div>
              <div class="savings__row">
                <span class="savings__symbol">×</span><strong>200</strong> employees
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <ol class="savings__sources">
                <li>Hello</li>
                <li>Hello</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="savings savings--total">
          <div class="row row--equal-height">
            <div class="col-xs-12 savings__section">
              <h4>Total</h4>
              <h1>$682,292</h1>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>