---
title: "Tech"
subtitle: "Tech subheadling goes here"
---

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="feature col-xs-12 col-sm-6 col-lg-4">
        <svg class="icon feature__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M0 4h24v2H0zM0 18h24v2H0zM0 11h24v2H0z"/></svg>
        <h3>CMS</h3>
        <p>Content for cloud-based or on premise install</p>
      </div>
      <div class="feature col-xs-12 col-sm-6 col-lg-4">
        <svg class="icon feature__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M0 4h24v2H0zM0 18h24v2H0zM0 11h24v2H0z"/></svg>
        <h3>Responsive</h3>
        <p>Mobile responsive in design – accessible on all major devices and browsers</p>
      </div>
      <div class="feature col-xs-12 col-sm-6 col-lg-4">
        <svg class="icon feature__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M0 4h24v2H0zM0 18h24v2H0zM0 11h24v2H0z"/></svg>
        <h3>Hosting</h3>
        <p>Hosted on the top rated Amazon Web Services provider for maximum security, robustness and performance</p>
      </div>
      <div class="feature col-xs-12 col-sm-6 col-lg-4">
        <svg class="icon feature__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M0 4h24v2H0zM0 18h24v2H0zM0 11h24v2H0z"/></svg>
        <h3>Metrics</h3>
        <p>Powerful Metrics & Reporting</p>
      </div>
      <div class="feature col-xs-12 col-sm-6 col-lg-4">
        <svg class="icon feature__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M0 4h24v2H0zM0 18h24v2H0zM0 11h24v2H0z"/></svg>
        <h3>SAML</h3>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      </div>
      <div class="feature col-xs-12 col-sm-6 col-lg-4">
        <svg class="icon feature__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M0 4h24v2H0zM0 18h24v2H0zM0 11h24v2H0z"/></svg>
        <h3>Internationalization</h3>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      </div>
    </div>
  </div>
</section>